/* Write your CSS here */
.container {
  background-color: #ffc2a0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 90%;
  max-width: 90%;
  padding: 20px;
}

.heading {
  color: #ff8542;
}

.todo-list {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 90%;
  max-width: 90%;
  padding: 20px;
}
